install and enable Jupyter extension   
select a python enviroment  
go to file / click auto save , so that your file is auto saved

In [ ]:
print ("hello!")
# print is a built in function. 
# we put argumens inside the parentheses.
# "#" are used for comments in code blocks. You can also comment out code you are not using.

In [ ]:
Print("Hi")
# this will not work, Python is case sensitive

In [ ]:
print("This is my first class.")
print('This is my first class.')
# you can use either "",  or ''

In [ ]:
print ("A plan for the week \n Monday - Python \n Tuesday - Java \n Wednesday - C++")
# \n indicates a new line

In [ ]:
# Practice: print out a long sentence that will take up multiple lines


print("I have classes on following days: /n Monday /n Wednesday")

In [6]:
print("I have classeson following days \n Monday \n Wednesday")

I have classeson following days
 Monday
 Wednesday

In [7]:
print("Hello",      "I","am","hungery")
# when we pass multiple arguments to print, they are combined and printed in one line. 
# they are seperated by a space by default.

Hello I am hungery

In [8]:
print("Hello"+"I"+"am"+"hungery")
# if using the + sign, the strings will be pasted together

HelloIamhungery

In [9]:
print("Hello","I","am","hungery", sep="@")
# sep defines the string that is inserted between the values.

Hello@I@am@hungery

**Data Types**

1. Integer   
    200,  2310, -34

2. Floating point numbers  
    9.01 ,  -34.32,  3.0

3. Strings  
    "hello"    
    'hello'  
    "Hello! 'AI' is cool !"   # If you need quotes within a string, you can use single quote inside double quote  
    'Hello! "AI" is cool !"   # or you can use double quote inside single quote  
    "Hello! \"AI\" is cool !" # \ tells python the " after \ is not the end of the string, it's just a quote  

4. Booleans  
    True  
    False  
    can be coded as 0 and 1

In [10]:
# practice : print out a sentence with a quote inside the sentence
print("My name is 'Halima Aizaz'")

My name is 'Halima Aizaz'

***Operator***

1. Exponential **
If one of the numbers is floating point number, the result will be floating point number.  
If both numbers are integer, result will be integer

In [11]:
2**3

8

In [12]:
2.**3.

8.0

In [13]:
2**3.

8.0

2. multiplication *

In [15]:
2*3

6

In [14]:
2.*3

6.0

3. Division / - Division always returns a floating point number

In [16]:
10/2

5.0

In [17]:
10/2.

5.0

In [18]:
10./2

5.0

4. Floor Division // -returns integer if both numbers are interger  
// also rounds the result to the lesser integer

In [19]:
10//2

5

In [20]:
10./2

5.0

In [21]:
10/2.

5.0

In [22]:
print(6/4)
print(6//4)

1.5
1

In [24]:
print(6/-4)
print(6//-4)

-1.5
-2

5. Modulo %  
Calculate the remainder of a division

In [ ]:
4%2

In [ ]:
5%2

*** Variables ***

In [25]:
Amount = 10
Price = 5

In [26]:
Amount

10

In [ ]:
print (Amount * Price)
# the variables created can be seen in Jupyter variables tab 
# open the panel by click View/Appearance/Panel

In [27]:
amount
# note that python is case sensitive

NameError: name 'amount' is not defined

Variable names can include uppercase and lowercase letters, digits, and underscores.   
They must begin with a letter or an underscore. 
Variable names are case-sensitive.  
They cannot be Python reserved words, such as True, break, del, import, etc.

In [28]:
Price = Price +2
# observe the value of the variable in the JUPYTER VARIABLES panel 
print(Price)

# ! if you run this cell multiple times, the value of the variable will keeps changing

7

In [29]:
print (Amount * Price)

70

In [30]:
Price +=2 
print(Price)

# += is a shortcut operator 
# += -= *= **= /= //= %=

9

In [37]:
# practice: define 2 variables, assign values to them, and perform an operation. 
# then update the values of these two variables, and perform the same operation again. 

quantity = 8
cost=4

In [38]:
quantity*cost

32

In [39]:
quantity+=2
cost+=1
quantity*cost

50

*** String Methods ***

In [40]:
print ("ha"* 10)

hahahahahahahahahaha

In [41]:
print ("ha" * 0)
print( "ha"* -2)

In [3]:
a = "10"
print ( 2 * a)
# can you explain the output?

1010

In [4]:
print ( 2 * int(a))

# int() converts a string to an integer

20

In [6]:
b= 10
print ( " my number is " ,b)

 my number is  10

In [45]:
# the above code will generate an error because you can not add a string with a number
print ("my number is", str(b))

# str() coverts a number into a string

my number is 10