In [1]:
# delete all variables im memory 
%reset -f

***list***  
countries = ["USA","Canada","Australia","China"]  
0  "USA"  
1  "Canada"  
2  "Australia"  
3  "China"

In [2]:
countries = ["USA","Canada","Australia","China"]

#list can be found in jupyter variables as well

In [3]:
countries[0]

'USA'

In [4]:
# you can update the value of a list
print(countries)
countries[0]="UK"
print(countries)

['USA', 'Canada', 'Australia', 'China']
['UK', 'Canada', 'Australia', 'China']

In [5]:
len(countries) # len prints out the length of the list

4

In [7]:
print(countries)
del(countries[1]) # remember that list starts with [0]
print(countries)

['UK', 'Australia', 'China']
['UK', 'China']

In [8]:
print(countries[-1])
# the last value in the list can be accessed with -1

China

In [9]:
print(countries[-3])

IndexError: list index out of range

In [10]:
names=[ "apple", 3, "10",[4,5]] # list can include different types of data
print(names)

['apple', 3, '10', [4, 5]]

In [ ]:
# Practice: create a list contains 4 items
# print out the third value in the list
# print out the third value from the last 
food=['pizza','pasta','noodles','rolls']
print(food[2])
print(food[-3])

***List methods***  
methods are associated with an object, they are called using dot notation  

List Methods:     
  
list.append()  
list.pop()   
list.insert()  
list.sort()

In [11]:
countries=["UK","Australia","China"]
print(countries)
countries.append("Spain")
print(countries)

['UK', 'Australia', 'China']
['UK', 'Australia', 'China', 'Spain']

In [12]:
print(countries)
countries.pop()
print(countries)

['UK', 'Australia', 'China', 'Spain']
['UK', 'Australia', 'China']

In [13]:
print(countries)
countries.pop(1)
print(countries)

['UK', 'Australia', 'China']
['UK', 'China']

In [14]:
print(countries)
countries.insert(1,"Italy")
print(countries)

['UK', 'China']
['UK', 'Italy', 'China']

In [15]:
countries.sort() # sort the values in the list alphabetically
print(countries)

['China', 'Italy', 'UK']

In [20]:
ages=[12,34,23,56]
ages.sort() # sort the numbers in a list ascendingly 
print(ages)

[56, 34, 23, 12]

In [21]:
# practice: create a list with 5 items. print out the list. 
# insert an item into the list. remove the last item in the list. then append an item at the end of the list.
# lastly, sort the items in the list. 
# print out the final list. 
weekdays=['Monday','Tuesday','Wednesday','Thursday','Friday']
weekdays.insert(1,'Sunday')
print(weekdays)
weekdays.pop()
print(weekdays)
weekdays.append('Saturday')
weekdays.sort()
print(weekdays)

['Monday', 'Sunday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Monday', 'Sunday', 'Tuesday', 'Wednesday', 'Thursday']
['Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

***Iterating List***

In [22]:
salary =[5000, 6000, 4000,3400,5600]
total=0
for i in salary:
    total+= i 
print(total)

24000

In [ ]:
salary =[5000, 6000, 4000,3400,5600]
total=0
for i in salary:
    total+= i 
    print(total) # the indentation is differnt from the code above

In [ ]:
# practice:  create a list containing 4 numbers
# iterate through the list and find out the total of all numbers in the list

***Important Properties of List***  

If you copy a list using the = sign, the copied list will be updated if the original list is updated. 

This is different from variables. When copying a variable, the copied variable remain unchanged when the original variable is updated.

In [23]:
number_1=[1,2,3,4]
number_2=number_1  # number_2 copies number_1 use = sign 
number_1[0]=10     # update the first number in number_1 

print (number_1)
print(number_2)

[10, 2, 3, 4]
[10, 2, 3, 4]

In [24]:
a=100
b=a
a= 50
print ("a=", a)
print ("b=", b) # b remains unchanged, when a is updated.

a= 50
b= 100

**You can use list.copy() to copy a list, then copied list will not be impacted when original list is updated.**  
( If the original list contains only numbers and strings, this holds true.  
If the original list contains other lists, dictionaries, etc we will need to use other methods. )

In [25]:
letters = ["A","B","C","D","E"]
copy_of_letters = letters.copy()
del(letters[0])
print(letters)
print(copy_of_letters)

['B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E']

***Slicing Lists***  
  
  list[start:end]

In [ ]:
letters = ["A","B","C","D","E"]
letters[1:3] # list are 0 indexed, the item at the end position (index 3 in this case) will not be included
# Python uses half-open intervals (also known as half-open ranges) for list slicing, 
# meaning the slice includes the start index but excludes the end index. 
# So, the slice letters[start:end] includes items from start to end-1.

In [26]:
print(letters)
letters[1:] 
#if we do not specify the end index when slicing a list, 
# it will include all elements from the starting index to the last item.

['B', 'C', 'D', 'E']

['C', 'D', 'E']

In [27]:
print(letters)
letters[:3] # from the first item to the item at indexed 2

['B', 'C', 'D', 'E']

['B', 'C', 'D']

In [28]:
print(letters)
letters[1:-1]

['B', 'C', 'D', 'E']

['C', 'D']

When using slicing to copy a list, the copied list will not be impacted if the original list is updated.  
( If the original list contains only numbers and strings, this holds true.  
If the original list contains other lists, dictionaries, etc we will need to use other methods. )

In [29]:
# copy the entire list
letters = ["A","B","C","D","E"]
letters2 = letters[:]

#update letters
letters[0]=10

print(letters)
print(letters2)

[10, 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E']

In [30]:
letters = ["A","B","C","D","E"]
letters2 = letters[:]
del(letters[0]) # del can delete items in a list
print(letters)
print(letters2)

['B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E']

In [ ]:
# Practice:
# Create a list that includes four of your favorite foods.
# Make a copy of the list that will not be affected when the original list is updated.
# Remove the second and third items from the original list.
# Print out both the original list and the copied list.
khana=['pasta','pizza','biryani','nihari']
khana_1=khana[:]
del(khana[1])
del(khana[2])
print(khana)
print(khana_1)

In [31]:
# you can aslo use list.copy()
food=["watermelon","fish","shrimp","soup"]
food2 = food.copy()
del(food[1:3])
print(food)
print(food2)

['watermelon', 'soup']
['watermelon', 'fish', 'shrimp', 'soup']

**in list**

In [32]:
letters=["a","b","c","d","e"]
print ("a" in letters)

True

In [33]:
print("z" in letters)

False

In [34]:
print( "z" not in letters)

True

***Nested Lists***

In [35]:
records = [
    ["US","Canada"],
    [32,23,"US"],
    [1,2,3,4,5]
]
print(records)

[['US', 'Canada'], [32, 23, 'US'], [1, 2, 3, 4, 5]]

In [36]:
records[0][1]

'Canada'

In [37]:
nested_list = [
    [1, 2, [3, 4, 5], 6],
    [7, [8, 9]],
    [10, [11, [12, 13, 14]], 15],
    [16]
]
nested_list[0][2][0]

3

In [38]:
orders = [
    ["egg", "milk", "bread", "cheese"],
    ["potato", "onion", "carrot"],
    ["apple", "banana"],
    ["chicken", "rice", "tomato", "garlic", "oil"],
    ["coffee"],
    ["pizza", "soda", "wings"],
    ["fish", "lemon", "butter", "herbs"],
    ["cereal", "milk", "sugar"],
    ["pasta", "sauce", "cheese", "basil", "garlic", "olive oil"],
    ["tea"]
]

# practice: access the second item in the third oder

orders[2][1]

'banana'

In [39]:
#practice: access the last order
orders[-1]

['tea']

In [40]:
#practice: access the seond to the fifth order
orders[1:5]

[['potato', 'onion', 'carrot'],
 ['apple', 'banana'],
 ['chicken', 'rice', 'tomato', 'garlic', 'oil'],
 ['coffee']]

***Functions***

In [41]:
def time_10(word):                       #time_10 is the name of the function, word is the argument 
    print(word*10)

time_10("ha")                     # call the function with the name of the function, and provide the value of the argument

hahahahahahahahahaha

In [42]:
time_10(10)

100

In [43]:
print(word)    # word is only avalible within the function.

NameError: name 'word' is not defined

In [44]:
def greet(name):                         # greet is the name of the function , name is a argument 
    message ="Hello"+" "+name+"!"
    print(message)

greet("Alice")

Hello Alice!

In [45]:
greet ("Harry")

Hello Harry!

In [46]:
def calculate_mean (numbers):
    return sum(numbers)/len(numbers)    #sum() and len() only work for numebrs


scores=[89,90,54,89,79]
calculate_mean (scores)

80.2

In [47]:
data=["US","Canada"]
calculate_mean (data)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
def calculate_mean2 (numbers):
    sum(numbers)/len(numbers)     # if you don't add return here, nothing will be returned 

scores=[89,90,54,89,79]
calculate_mean2 (scores)

In [50]:
print(calculate_mean2 (scores))

None

In [51]:
def paste_words (w1,w2):       # A function can have multiple arguments
    print ( w1 + w2)

paste_words("New","York")

NewYork

In [52]:
paste_words(w2="York",w1="New")

NewYork

In [ ]:
# you can indicate default values 
def paste_words2 (w1="hello", w2="world"):     # w1 and w2 have default values
    print (w1+w2)                              

paste_words2()      # when no argument is provided,the function will use default values

In [53]:
paste_words2 (w2="NY")      # if you only pass w2, w1 will be the default value for w1

NameError: name 'paste_words2' is not defined

In [54]:
# the return keyword also alllows you to stop the execution of the funciton 

def print_sum (num1, num2):
    sum=num1+num2                    
    if(sum==0):                        
        return
    print (sum)

print_sum (4,6)

10

In [55]:
print_sum(1,-1)  # in this case, sum==0,the function returned and did not execute the print()